@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Universal */

.subtitles {
  @apply font-semibold text-base;
}

/* SIDEBAR */
.sidebar {
  @apply fixed left-0 top-0 h-screen border-r border-gray-200 dark:border-zinc-700 pt-8 px-4 bg-white dark:bg-zinc-700 
  transition-transform duration-300 z-40 md:sticky md:translate-x-0 md:flex md:flex-col md:justify-between;
}

.sidebar-logo {
  @apply transition-opacity duration-300 text-[#A168D3] font-bold text-2xl;
}

.sidebar-link {
  @apply flex items-center justify-start gap-3 py-2 px-2 w-full rounded-lg transition-all duration-300 md:p-3 2xl:p-4;
}

.sidebar-label {
  @apply text-base font-semibold transition-opacity duration-300 dark:text-white;
}

.toggle-button {
  @apply cursor-pointer text-center text-black py-1 px-1.5 rounded-full bg-[#4177FD] 
  shadow-lg border border-gray-200 absolute top-1 -right-7 hover:bg-[#C9C9D4] transition-transform duration-300 max-md:hidden;
}

.hamburguer {
  @apply fixed top-4 left-4 z-50 flex flex-col justify-center items-center space-y-1 w-8 h-8 rounded-lg 
 bg-white shadow-lg md:hidden;
}

.hamburguer .line {
  @apply block h-0.5 w-6 bg-black duration-300;
}

/* HOME PAGE */
.home {
  @apply flex w-full flex-row;
}

.home-content {
  @apply w-full gap-3 px-4 py-4 sm:px-8 lg:py-3;
}

/* .home-header {
  @apply flex flex-col justify-between gap-8;
} */

.card {
  @apply shadow-md flex gap-4 items-center px-5 py-4 w-full h-36 rounded-lg;
}

.card-icon {
  @apply  py-3 text-center shadow-md rounded-full;
}

.card-body {
  @apply flex flex-row;
}

.card-amount {
  @apply font-bold text-3xl;
}

.cards-wrapper {
  @apply container flex flex-col lg:flex-row gap-3 justify-between;
}

.budget-doughnut-wrapper {
  @apply flex flex-col xl:flex-row gap-3 justify-between;
}

.doughnut-box {
  @apply py-4 px-4 basis-1/2;
}

.budget-amounts-box {
  @apply bg-zinc-100 rounded-md px-3 py-4 my-2 dark:bg-zinc-800;
}

.dashboard-tables {
  @apply flex flex-col lg:flex-row gap-3 mt-4;
}

