@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* HOME PAGE */

.home {
  @apply flex w-full flex-row max-xl:max-h-screen max-xl:overflow-y-scroll;
}

.home-content {
  @apply flex w-full flex-1 flex-col gap-8 px-5 sm:px-8 py-7 lg:py-8 xl:max-h-screen xl:overflow-y-scroll;
}

/* SIDEBAR */
.sidebar {
  @apply sticky left-0 top-0 flex h-screen flex-col justify-between border-r border-gray-200 bg-white pt-8 px-4 max-md:hidden transition-all duration-300;
}

.sidebar-logo{
  @apply transition-opacity duration-300 bg-gradient-to-r from-indigo-500 to-blue-600 bg-clip-text text-transparent font-bold text-2xl;
}

.sidebar-link {
  @apply flex gap-3 py-1 md:p-3 2xl:p-4 rounded-lg justify-center xl:justify-start;
}

.sidebar-label {
  @apply text-base font-semibold transition-opacity duration-300 ;
}

.toggle-button{
  @apply cursor-pointer text-center text-black p-2 rounded-full bg-white shadow-lg border border-gray-200 hover:bg-gray-200 transition-transform duration-300;
}


