@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
 @apply bg-clip-text bg-gradient-to-r from-indigo-500 to-blue-600  text-transparent;
}

.subtitles {
  @apply font-semibold text-gray-400 text-sm;
}

.bg-cards{
  @apply bg-white rounded-md dark:bg-zinc-800;
}

/* SIDEBAR */
.sidebar {
  @apply fixed left-0 top-0 h-screen border-r border-gray-200 dark:border-zinc-700 pt-8 px-4 bg-white dark:bg-zinc-800 
  transition-transform duration-300 z-40 md:sticky md:translate-x-0 md:flex md:flex-col md:justify-between ;
}

.sidebar-logo {
  @apply transition-opacity duration-300 text-gradient font-bold text-2xl;
}

.sidebar-link {
  @apply flex items-center justify-start gap-3 py-2 px-2 w-full rounded-lg transition-all duration-300 md:p-3 2xl:p-4 ;
}

.sidebar-label {
  @apply text-base font-semibold transition-opacity duration-300;
}

.toggle-button {
  @apply cursor-pointer text-center text-black py-1 px-1.5 rounded-full bg-gradient-to-r from-indigo-500 to-blue-600 
  shadow-lg border border-gray-200 absolute top-1 -right-7 hover:bg-gray-200 transition-transform duration-300 max-md:hidden;
}

.hamburguer{
 @apply fixed top-4 left-4 z-50 flex flex-col justify-center items-center space-y-1 w-8 h-8 rounded-lg 
 bg-white shadow-lg md:hidden
}

.hamburguer .line{
  @apply block h-0.5 w-6 bg-black duration-300;
}

/* HOME PAGE */
.home {
  @apply flex w-full flex-row max-xl:max-h-screen;
}

.home-content {
  @apply grid xl:grid-cols-2 w-full gap-3 px-5 py-7 sm:px-10 lg:py-8 xl:max-h-screen;
}

.home-header{
  @apply flex flex-col justify-between gap-8;
}

.card{
  @apply bg-cards shadow-md flex flex-col px-5 py-4 w-full h-36 gap-2;
}

.card-icon{
  @apply text-2xl py-2 w-12 h-12 text-center shadow-md border border-zinc-200 rounded-full;
}

.card-body{
  @apply flex flex-row;
}

.card-amount{
  @apply font-bold text-2xl;
}

.cards-wrapper{
  @apply container flex flex-col lg:flex-row gap-3 justify-between;
}

.budget-doughnut-wrapper{
  @apply flex flex-col lg:flex-row gap-3 justify-between;
}

.doughnut-box{
  @apply bg-cards py-3 px-4 basis-1/2;
}

.budged-card {
  @apply bg-cards py-4 px-4 basis-1/2;
}

.budget-amounts-box{
  @apply bg-zinc-100 rounded-md px-3 pt-4 my-2;
}




